p {
    font-size: 25;
}

.boxed {
    border: 1px solid black;
    height: 250;
    width: 550;
}

img {
    border-radius: 50%;
}

button {
    background-color: steelblue;
    color: white;
    height: 30;
    width: 65;
}


